@charset "UTF-8";

// font相关
// --------------------------------------------------------------------------
$fontFamily: 				Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
$baseFontSize:				100px !default;



// color 相关
// ------------------------------------------------------------------------------
$color333:					#333333 !default;
$color666:					#666666 !default;
$color999:					#999999 !default;
$color000:					#000000 !default;
$colorFFF:					#FFFFFF !default;
$colorCCC:					#CCCCCC !default;
$colorF3:					#F3F3F3 !default;
$colorE0:					#E0E0E0 !default;

$colorYellow:				#e19c10 !default;
$colorPurple:				#423e59 !default;
$colorLightPurple:			#655f86 !default;

$colorBlue:					#47A5E8 !default;
$colorYellowLight:			#FFFAF4 !default;
$colorRedLight:				#FF614C !default;
$colorGreen:				#6CC26E !default;

